body {
  background-color: #E5E9E5; }

.btn-default:active,
.btn-default:focus {
  outline: 0;
  background-image: none; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Noto Sans", Helvetica, sans-serif; }

label {
  color: #04808B; }

p {
  font-family: "Lora", Georgia, serif;
  font-size: 18px; }

.brandImg {
  height: 100%;
  border-radius: 10px; }

.collapseButton {
  background-color: #04808B;
  border-color: #E5E9E5; }

.collapseButton:hover {
  background-color: #E5E9E5;
  border-color: #04808B; }

.headerSpacer {
  margin-top: 50px; }

.icon-bar {
  background-color: #01555D; }

.myNavbar {
  font-family: "Noto Sans", Helvetica, sans-serif;
  background-color: #01555D; }

.navbar-brand {
  padding: 5px; }

.navbar-nav > li > a {
  color: #E5E9E5;
  background-color: #01555D; }

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: #04808B;
  text-shadow: 0px 0px 4px #000300; }

.big-spacer {
  margin-top: 100px; }

.break {
  min-height: 50px;
  background-image: url("../images/wood.png"); }

.content {
  background-color: #E5E9E5; }

.fillerImg {
  width: 100%;
  border-radius: 35px; }

.mini-spacer {
  padding-top: 20px; }

.header {
  height: 350px;
  position: relative;
  overflow: hidden;
  background-color: #04808B; }

.headerImg {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -350px;
  margin: auto;
  opacity: 0.9; }

.headerText {
  color: #E5E9E5;
  text-shadow: 1px 1px 4px #000202;
  margin-left: 15px;
  margin-bottom: 35px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  font-size: 50px; }

#welcomeImg {
  border-radius: 35px; }

#welcomeLoginBtn {
  width: 100%;
  max-width: 200px;
  color: #E5E9E5;
  background-color: #01555D; }

#welcomeLoginBtn:focus, #welcomeLoginBtn:hover {
  background-color: #04808B;
  text-shadow: 0px 0px 4px #000300; }

#welcomeJoinBtn {
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  color: #E5E9E5;
  background-color: #01555D; }

#welcomeJoinBtn:focus, #welcomeJoinBtn:hover {
  background-color: #04808B;
  text-shadow: 0px 0px 4px #000300; }

#welcomeTextBox {
  color: #04808B;
  text-weight: bold;
  background-color: #E5E9E5; }

.allPosts {
  padding-bottom: 10px;
  text-weight: bold;
  background-color: #E50A04; }

.post {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E50A04; }

.postContent {
  margin-left: 15px;
  margin-bottom: 0px;
  color: #E50A04; }

.postUsername {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #E50A04; }

.timestamp {
  margin-bottom: 0px;
  font-size: 12px;
  color: #E50A04;
  opacity: 0.5; }

.footer {
  bottom: 0;
  padding: 15px;
  background-color: #01555D;
  color: #04808B; }

.footerText {
  font-size: 88px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #000202; }
