html {
  height: 100%; }

body {
  height: 100%;
  background-color: #7c674e;
  background-image: url("../images/wood.png"); }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Noto Sans", Helvetica, sans-serif; }

p {
  font-family: "Lora", Georgia, serif;
  font-size: 18px;
  color: #0B0B0B; }

a {
  background-color: #41643F;
  color: #090909; }

.brandImg {
  height: 100%;
  border-radius: 10px; }

.collapseButton {
  background-color: #7c674e;
  border-color: #A1A1A1; }

.collapseButton:hover {
  background-color: #7c674e;
  border-color: #23DA19; }

.headerSpacer {
  margin-top: 50px; }

.icon-bar {
  background-color: #41643F; }

.myNavbar {
  font-family: "Noto Sans", Helvetica, sans-serif;
  color: #090909;
  background-color: #41643F;
  border-color: #7c674e; }

.navbar-brand {
  padding: 5px; }

.navbar-nav > li > a {
  color: #A1A1A1;
  background-color: #41643F; }

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: #194617; }

ul.myNavbar:hover {
  background-color: black; }

.big-spacer {
  margin-top: 100px; }

.break {
  min-height: 50px;
  background-image: url("../images/wood.png"); }

.content {
  background-color: #7c674e; }

.fillerImg {
  width: 100%;
  border-radius: 35px; }

.footer {
  background-color: #41643F;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px #41643F, 0 0 8px #23DA19;
  box-shadow: inset 0 1px 1px #41643F, 0 0 8px #23DA19; }

label {
  color: #090909;
  text-shadow: 0px 0px 2px #23DA19; }

.mini-spacer {
  padding-top: 20px; }

#welcomeImg {
  border-radius: 35px; }

#welcomeLoginBtn {
  width: 100%;
  max-width: 200px;
  color: #A1A1A1;
  background-color: #41643F;
  border: 1px solid #7c674e;
  box-shadow: 0 4px 6px #090909; }

#welcomeLoginBtn:focus, #welcomeLoginBtn:hover {
  background-color: #194617;
  box-shadow: 0 4px 6px #090909; }

#welcomeJoinBtn {
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  color: #A1A1A1;
  background-color: #41643F;
  border: 1px solid #7c674e;
  box-shadow: 0 4px 6px #090909; }

#welcomeJoinBtn:focus, #welcomeJoinBtn:hover {
  background-color: #194617;
  box-shadow: 0 4px 6px #090909; }

.welcomeTextBody {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  color: #33454F;
  text-shadow: 1px 1px 2px #1D81B7; }

.welcomeTextHeader {
  font-size: 50px;
  color: #1D81B7;
  text-shadow: 2px 2px 0px #090909; }
